body {
  margin: 0px;
}

h1 {
  font-family: Montserrat;
}

.post-container {
  margin: 0px auto 0px auto;
  width: 75%;
  height: 100%;
  background-color: #fffafa;
}

.post-container .date {
  color: #008080;
  font-family: Roboto;
}

.post-container div.post-content {
  font-family: Open Sans;
  margin-bottom: 45px;
}

.post-container .post {
  margin-left: 50px;
  padding-top: 20px;
  padding-left: 20px;
}

.teste {
  font-weight: 600;
}
